.MuiCardMedia-root{
    background-color: black;
    text-decoration: none;
}
.MuiCardContent-root{
    text-decoration: none;
   .MuiTypography-root{
    color: white;
    font-family: Poppins;
    text-decoration: none;
   }
}