
.PinnedProjects{
    .button{
        width: 100px;
    }
    .carousel{
        background-color: black;
        .carousel-indicators{
            padding-bottom: 2vh;
            
            button{
                background-color: rgb(137, 137, 137);
                border: 0;
                width: 2vw;
            }
            button.active{
                background-color: rgb(255, 254, 254);
             }
        }
    }
    font-family: Poppins;
    padding-top: 15vh;
    color: white;
    .Selector{
        background-color: black;
        .PinnedHead{
            text-align: left;
            font-size: 3vh;
            padding-left: 5vw;;
            padding-top: 2vh;
        }
        .projectImage{
            width: 100%;
            max-width: 10vw;
            visibility: hidden;
        }
    }
    
  
    
}
