@import "~bootstrap/scss/bootstrap";
.PinnedProjects{
    z-index: -9999;
    color: white;
    background-color: aqua;
    padding-left: 9vw;
    .ProjectsList{
        
.Project{
            padding: 0 3vw;
            padding-top: 3vh;
        }
    }
    .PinnedHead{
        color:white;
        text-align: left;
        padding-left: 3vw;
        font-size: 3vh;
    
    }
    font-family: Poppins;
}
