.SelectedProjectComponent{
    padding-top: 10vh;
    .SelectedProjectName{
        padding-bottom: 5vh;
        padding-top: 5vh;
    }
    .SelectedProjectLink{
        padding-top: 10vh;
        padding-bottom: 3vh;
    }
}