.NavBar{
    position: fixed;
    top:0;
    width: 100%;
    ul{
        list-style-type: none;
        display: flex;
        background-color: black;
        margin: 0px;
        height: 10vh;
        color: white;
        flex-direction: row-reverse;
        li{
            padding-left: 3vw;
            padding-top: 3vh;
        }
        font-size: 2vh;
        padding-right: 5vw;
        
    }
    font-family: Poppins;
    .Logo{
        padding-right: 85vw;
        padding-top: 3.5vh;
        position: absolute;
        width: 7vw;
    }
}